<div class="pwc-red white-text section">
    <div class="container">
        <div class="row" style="margin-bottom:0">
            <div class="col s12 center">
                <h5 class="light">{{.header}}</h5>
                <h3 class="padded-multiline">{{.text}}</h3>
                {{ if .video_id}}
                <p class="center" style="margin-bottom:0"><a href="https://www.youtube.com/watch?v={{ .video_id}}" data-lity><i class="white-text fab fa-youtube fa-3x"></i><br><span class="white-text">Learn more</span></a></p>
                {{end}}
            </div>
        </div>
    </div>
</div>