{{ if .imageUrl }}
<div class="parallax-container valign-wrapper">
    {{ if .subtitle }}
    <div class="container center">
        <h3 class="padded-multiline"><span>{{.subtitle}}</span></h3>
        {{ if (and .link_text .link_url) }}
          <p class="center"><a class="btn waves-effect waves-light" href="{{ .link_url }}">{{ .link_text }}</a></p>
        {{ end }}
    </div>
    {{ end }}
    <div class="parallax"><img class="dim" src="{{.imageUrl}}" alt="{{.title}}"></div>
</div>
{{ end }}
{{ if .section_title }}
<h1 class="center">{{.section_title}}</h1>
{{ end }}
