<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper container">
      <a href="/" class="logo"><img src="/img/powercoders-logo.svg" alt="Powercoders"></a>
      <ul id="nav-mobile" class="right">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}class="active"{{end}}>
          <a class="black-text" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </li>
        {{ end }}
        <li>
          <a class="btn" href="https://donorbox.org/donatepowercoders" target="_blank" rel="noopener">Donate</a>
        </li>
      </ul>
    </div>
  </nav>
</div>