<!--

Renders a title row and a row showing associated partners.

Call with a dict as the single parameter with the following keys:

"partners" (map[str]partner) - The same structure described in
  site/static/admin/config.yml.

"type" (str) - The partner types to be used, one of
  "partner", "community_partner", or "company_member" (see the
  allowed values in site/static/admin/config.yml).

"title" (str) - The title to show for this section.

"city" (str) - Optional, the city -- if empty, only partners
  with no city will be shown. If set, partners with no city,
  and partners matching the city will be shown.

-->

{{ $thesePartners := slice }}
{{ range $partner := $.partners }}
  {{ if (and (eq $partner.type $.type) (in $partner.city $.city)) }}
    {{ $thesePartners = $thesePartners | append $partner }}
  {{ end }}
{{ end }}

{{ with $thesePartners }}
  <div class="row">
    <h3 class="col s12">{{ $.title }}</h3>
  </div>

  <div class="row flex valign-wrapper">
    {{ range $el := $thesePartners }}
      {{ $imageConfig := imageConfig (printf "static/%s" $el.image) }}
      <div class="col s12 m4 l3">
        <a href="{{$el.link}}" target="_blank">
          <p><img src="{{$el.image}}"
                  alt="{{$el.name}}" class="responsive-img"></p>
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}
