{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.section_title) }}

{{ if .Params.text }}
{{ partial "paragraph" (dict "paragraph" (dict "content" .Params.text)) }}
{{end}}

{{ if .Params.apply_as }}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 id="apply">Apply as</h2>
    </div>
    <div class="col s12">
      <ul class="collapsible">
        {{ range $el := .Params.apply_as }}
          <li>
            <div id="{{ lower $el.header }}" class="collapsible-header">
              <h6>{{ $el.header }}</h6>
            </div>
            {{if $el.text}}
              <div class="collapsible-body markdown">
                {{ partial "markdownify-block" $el.text }}
                {{if $el.application_link }}
                  <p><a href="{{$el.application_link}}"
                    onclick="dataLayer.push({
                                'event': 'GAEvent',
                                'eventCategory': 'Application Forms',
                                'eventAction': 'Click to view',
                                'eventLabel': '{{ $el.header | safeJS }} / {{ $.Title | safeJS }}',
                                'eventValue': undefined
                    });"
                    class="btn waves-effect waves-light pwc-red" target="_blank">Apply</a></p>
                {{end}}
              </div>
            {{end}}
          </li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
{{end}}

{{ $activeEvents := slice }}
{{ range $event := $.Site.Data.events }}
  {{ if (and (in $event.city $.Page.File.BaseFileName) (or (eq $event.remove_after "") (lt now (time $event.remove_after)))) }}
    {{ $activeEvents = $activeEvents | append $event }}
  {{ end }}
{{ end }}

{{ partial "events" $activeEvents }}

{{ if .Params.faqs }}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>FAQ</h2>
        </div>
    </div>
    <div class="row">
            <ul class="collapsible">
                {{ range $el := .Params.faqs }}
                <li>
                    <div class="collapsible-header">{{$el.header}}</div>
                    <div class="collapsible-body markdown">
                        {{ partial "markdownify-block" $el.text }}
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{end}}


{{ if .Params.team.header }}
<div class="grey lighten-4 section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{ .Params.team.header }}</h2>
            </div>
        </div>

        <div class="row portrait flex">
            {{ range $el := .Params.team.members }}
            <div class="col s6 m3 animated"
                 data-animation='fadeIn{{ index (first 1 (shuffle (slice "Left" "Right" "Up"))) 0 }}'>
                <div><img src="{{$el.image}}" class="responsive"
                          alt="{{$el.name}}"></div>
                <p><strong>{{$el.name}}</strong><br>{{$el.description}}
                    {{if $el.email}}<br><i class="far fa-envelope"></i> <a href="mailto:{{$el.email}}">Contact</a>{{end}}
                </p>
            </div>
            {{end}}
        </div>
    </div>
</div>

{{end}}

<div class="container section">
  <div class="row">
    <div class="col s12">
      <h2>Partner</h2>
    </div>
  </div>

  {{ partial "partner" (dict "partners" $.Site.Data.partners "city" $.Page.File.BaseFileName "type" "partner" "title" "Powercoders is supported by")}}
  {{ partial "partner" (dict "partners" $.Site.Data.partners "city" $.Page.File.BaseFileName "type" "community_partner" "title" "Community Partners")}}
  {{ partial "partner" (dict "partners" $.Site.Data.partners "city" $.Page.File.BaseFileName "type" "company_member" "title" "Company Members")}}
</div>

{{ end }}
