{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.section_title) }}

{{ partial "paragraph" (dict "paragraph" (dict "content" .Params.text)) }}

{{ partial "city-cards" . }}

<div class="container section">
    <div class="row">
        <div class="col s12">
            <h2>{{.Params.past_program.header}}</h2>
            <ul class="past-city">
                {{ range $el := .Params.past_program.items }}
                <li>
                    <a href="{{$el.link}}">
                        <h6>{{$el.header}}</h6> <span>{{$el.text}}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}
