{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "section_title" .Params.section_title "link_text" .Params.link_text "link_url" .Params.link_url) }}

{{ partial "intro" (dict "header" .Params.intro.header "text" .Params.intro.text "video_id" .Params.intro.video_id)}}

{{ partial "parallax" (dict "parallax" .Params.teaser_image )}}

{{ partial "paragraph" (dict "paragraph" .Params.get_involved )}}

{{ if .Params.donuts }}
  <div class="container">
    <div class="row flex" style="justify-content:space-evenly;">
      {{ range $donut := .Params.donuts }}
        <div class="col s12 m6">
          <div class="card-image center">
            <canvas data-donut data-percentage="{{ $donut.percentage }}"></canvas>
          </div>
          <div class="card-content">
            <p class="center">{{ $donut.description }}</p>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

<div class="pwc-red-light20">
    <div class="container section">
        <div class="row flex">
            {{ range $el := .Params.program }}
            <div class="col s12 m6 l6">
              <div class="hoverable space btn-box animated" data-animation="fadeIn{{$el.fade_in}}">
                <a href="{{$el.link}}">
                    <h2>{{$el.header}}</h2>
                    <p>{{$el.text}}</p>
                    <object><a href="{{$el.link}}"
                               class="btn waves-effect waves-light pwc-red">{{$el.link_text}}</a></object>
                </a>
              </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ $activeEvents := slice }}
{{ range $event := $.Site.Data.events }}
  {{ if (or (eq $event.remove_after "") (lt now (time $event.remove_after))) }}
    {{ $activeEvents = $activeEvents | append $event }}
  {{ end }}
{{ end }}

{{ if $activeEvents }}
  <div class="container section">
    <div class="row">
      <div class="col s12">
        <h2>Latest</h2>
      </div>
    </div>

    <div class="row flex">
      {{ range $el := $activeEvents }}
        <div class="col s12 m6 xl4">
          <div class="hoverable latest-box animated" data-animation="fadeInUp">
            <a href="{{$el.link}}" target="_blank">
              <h6><i class="fas {{$el.header_icon}} fa-2x"></i>{{$el.title}}</h6>
              <p>{{$el.text}}</p>
              <p class="latest">{{$el.call_to_action}} <i class="fas fa-angle-double-right"></i></p>
            </a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ partial "parallax" (dict "parallax" .Params.teaser_image2 )}}

<div class="container section">
  <div class="row">
    <div class="col s12">
      <h2>Meet our alumni</h2>
    </div>
  </div>

  <div class="row">
    <!-- Can't shuffle map keys, so collect the alumni map in to an array -->
    {{ $allAlumni := slice }}
    {{ range $alum := $.Site.Data.alumni }}
      {{ $allAlumni = $allAlumni | append $alum }}
    {{ end }}
    <!-- TODO: The cards here are very similar to the ones in alumni.html,
         maybe refactor this out in to a partial that takes a size? -->
    {{ range $alumni := first 3 (shuffle $allAlumni)}}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="{{ $alumni.image }}">
          </div>
          <div class="card-content">
            <span class="card-title">{{ or $alumni.display_name $alumni.title }}</span>
            <p>{{ $alumni.quote }}</p>
          </div>
          <div class="card-action">
            <a href="/alumni#{{ anchorize $alumni.title }}">Read more</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>

  <div class="row">
    <div class="col s12 center">
      <a class="btn" href="/alumni">Discover our alumni stories</a>
    </div>
  </div>
</div>

<hr class="whitespace">

<div class="pwc-red-light20">
  <div class="container section">
    <div class="row">
      <div class="col s12">
        <h3 class="center">Add some impact to your mailbox</h3>
        <p class="center">Stay updated about our programmes and events</p>
        <p class="center"><a href="https://powercoders.us14.list-manage.com/subscribe?u=2a42a364dd3183e63617d355b&id=dd4d5d82f8"
          class="btn waves-effect waves-light pwc-red" data-lity>Subscribe</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row">
    <div class="col s12">
      <h2>Partner</h2>
    </div>
  </div>

  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "partner" "title" "Powercoders is supported by")}}
  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "community_partner" "title" "Community Partners")}}
  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "company_member" "title" "Company Members")}}
</div>

{{ end }}
