{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "section_title" .Params.section_title "link_text" .Params.link_text "link_url" .Params.link_url) }}

{{ partial "intro" (dict "header" .Params.intro.header "text" .Params.intro.text "video_id" .Params.intro.video_id)}}

{{ partial "paragraph" (dict "paragraph" .Params.get_involved )}}

{{ if .Params.donuts }}
  <div class="container">
    <div class="row flex" style="justify-content:center;">
      {{ range $donut := .Params.donuts }}
        <div class="col s12 m5 l4">
          <div class="card-image center">
            <s-donut stroke-width="70" segments="[{start:0,end:{{ $donut.percentage }},color:'#c32e4c'}]">
              <span class="donut__value">{{ $donut.percentage }}%</span>
              <span class="donut__title"></span>
            </s-donut>
          </div>
          <div class="card-content">
            <p class="center">{{ $donut.description }}</p>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

<div class="pwc-red-light20">
    <div class="container section">
        <div class="row flex">
            {{ range $el := .Params.program }}
            <div class="col s12 m6 xl3">
              <div class="hoverable space btn-box animated" data-animation="fadeIn{{$el.fade_in}}">
                <a href="{{$el.link}}">
                    <h2>{{$el.header}}</h2>
                    <p>{{$el.text}}</p>
                    <object><a href="{{$el.link}}"
                               class="btn waves-effect waves-light pwc-red">{{$el.link_text}}</a></object>
                </a>
              </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ $activeCityPages := slice }}
{{ range $page := $.Site.RegularPages }}
  {{ if $page.Params.inbound_links.active }}
    {{ $activeCityPages = $activeCityPages | append $page }}
  {{ end }}
{{ end }}

{{ if $activeCityPages }}
  <div class="container section">
    <div class="row">
      <div class="col s12">
        <h2>City Programme</h2>
      </div>
    </div>

    <div class="row flex">
      {{ range $page := $activeCityPages }}
        <div class="col s6 m4">
          <div class="card teal lighten-4">
            <div class="card-content">
              <span class="card-title">{{ $page.Params.title }}</span>
              <p>{{ $page.Params.inbound_links.description }}</p>
            </div>

            <div class="card-action">
              <a href="{{ $page.Permalink}}" class="btn pwc-red">More</a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ $activeEvents := slice }}
{{ range $event := $.Site.Data.events }}
  {{ if (or (eq $event.remove_after "") (lt now (time $event.remove_after))) }}
    {{ $activeEvents = $activeEvents | append $event }}
  {{ end }}
{{ end }}

{{ if $activeEvents }}
  <div class="container section">
    <div class="row">
      <div class="col s12">
        <h2>Latest</h2>
      </div>
    </div>

    <div class="row flex">
      {{ range $el := $activeEvents }}
        <div class="col s12 m6 xl4">
          <div class="card">
            <div class="card-content">
              <div class="card-title"><i class="fas {{$el.header_icon}}"></i> {{(or $el.display_name $el.title)}}</div>
              {{ partial "markdownify-block" $el.text }}
              {{ $formattedWhen := "" }}
              {{ if $el.when }}
                {{ $formattedWhen = dateFormat "Mon, Jan 2, 2006 3:04PM" $el.when }}
              {{ end }}
              {{ if (or $formattedWhen $el.where)}}
                <p><b>{{ delimit (slice $formattedWhen $el.where) ", " }}.</b></p>
              {{ end }}
            </div>
            <div class="card-action">
              {{if $el.link}}
                <a href="{{$el.link}}"
                  onclick="dataLayer.push({
                                        'event': 'GAEvent',
                                        'eventCategory': 'Event Signup',
                                        'eventAction': 'Click call to action',
                                        'eventLabel': '{{ $el.header | safeJS }} / {{ $.Title | safeJS }}',
                                        'eventValue': undefined
                            });"
                  class="waves-effect waves-light pwc-red-text" target="_blank">{{$el.call_to_action}} <i class="fas fa-angle-double-right"></i></a>
              {{end}}
              {{if $el.meetup_link}}
                <a href="{{$el.meetup_link}}"
                  onclick="dataLayer.push({
                                        'event': 'GAEvent',
                                        'eventCategory': 'Event Signup',
                                        'eventAction': 'Click Meetup event',
                                        'eventLabel': '{{ $el.header | safeJS }} / {{ $.Title | safeJS }}',
                                        'eventValue': undefined
                            });"
                  class="waves-effect waves-light pwc-red-text" target="_blank">meetup.com <i class="fab fa-meetup"></i></a>
              {{end}}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ partial "parallax" (dict "parallax" .Params.teaser_image2 )}}

<div class="container section">
  <div class="row">
    <div class="col s12">
      <h2>Meet our alumni</h2>
    </div>
  </div>

  <div class="row flex">
    <!-- Can't shuffle map keys, so collect the alumni map in to an array -->
    {{ $allAlumni := slice }}
    {{ range $alum := $.Site.Data.alumni }}
      {{ $allAlumni = $allAlumni | append $alum }}
    {{ end }}
    <!-- TODO: The cards here are very similar to the ones in alumni.html,
         maybe refactor this out in to a partial that takes a size? -->
    {{ range $i, $alumni := first 4 (shuffle $allAlumni)}}
      <div class="col s12 m4 l3">
        <div class="card">
          <div class="card-image{{ if eq $i 4 }} show-on-large{{ end }}">
            <img src="{{ $alumni.image }}">
          </div>
          <div class="card-content">
            <span class="card-title">{{ or $alumni.display_name $alumni.title }}</span>
            <p>{{ $alumni.quote }}</p>
          </div>
          <div class="card-action">
            <a class="pwc-red-text" href="/alumni#{{ anchorize $alumni.title }}">Read more <i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>

  <div class="row">
    <div class="col s12 center">
      <a class="btn" href="/alumni">Discover our alumni stories</a>
    </div>
  </div>
</div>

<div class="pwc-red-light20">
  <div class="container section">
    <div class="row">
      <div class="col s12">
        <h3 class="center">{{ .Params.email_signup.heading }}</h3>
        <p class="center">{{ .Params.email_signup.text }}</p>
        <p class="center"><a href="{{ .Params.email_signup.link }}"
          class="btn waves-effect waves-light pwc-red" data-lity>{{ .Params.email_signup.button_text }}</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row">
    <div class="col s12">
      <h2>Partner</h2>
    </div>
  </div>

  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "partner" "title" "Powercoders is supported by")}}
  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "community_partner" "title" "Community Partners")}}
  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "company_member" "title" "Company Members")}}
</div>

{{ end }}
