{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "section_title" .Params.section_title) }}

{{ partial "intro" (dict "header" .Params.intro.header "text" .Params.intro.text "video_id" .Params.intro.video_id)}}

{{ partial "parallax" (dict "parallax" .Params.teaser_image )}}

{{ partial "paragraph" (dict "paragraph" .Params.get_involved )}}

<div class="pwc-red-light20">
    <div class="container section">
        <div class="row flex">
            {{ range $el := .Params.program }}
            <div class="col s12 m6 l6">
              <div class="hoverable space btn-box animated" data-animation="fadeIn{{$el.fade_in}}">
                <a href="{{$el.link}}">
                    <h2>{{$el.header}}</h2>
                    <p>{{$el.text}}</p>
                    <object><a href="{{$el.link}}"
                               class="btn waves-effect waves-light pwc-red">{{$el.link_text}}</a></object>
                </a>
              </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

<div class="container">
  <div class="section">
  <div class="row">
    <div class="col s12">
      <h2>Latest</h2>
    </div>
  </div>

  <div class="row flex">
    {{ range $el := $.Site.Data.events }}
      {{ if (or (eq $el.remove_after "") (lt now (time $el.remove_after))) }}
        <div class="col s12 m6 l5">
          <div class="hoverable latest-box animated" data-animation="fadeInUp">
            <a href="{{$el.link}}" target="_blank">
              <h6><i class="fas {{$el.header_icon}} fa-2x"></i>{{$el.title}}</h6>
              <p>{{$el.text}}</p>
              <p class="latest">{{$el.call_to_action}} <i class="fas fa-angle-double-right"></i></p>
            </a>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
  </div>
</div>

{{ partial "parallax" (dict "parallax" .Params.teaser_image2 )}}

<div class="container">
  <div class="row section">
    <div class="col s12 l8">
      {{if .Params.story.text}}
        <p class="markdown">{{.Params.story.text | markdownify}}</p>
      {{end}}
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.Params.story.video_id}}" frameborder="0"
          allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <hr class="whitespace">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>Meet our alumni</h2>
    </div>
  </div>

  <div class="row">
    <!-- Can't shuffle map keys, so collect the alumni map in to an array -->
    {{ $allAlumni := slice }}
    {{ range $alum := $.Site.Data.alumni }}
      {{ $allAlumni = $allAlumni | append $alum }}
    {{ end }}
    {{ range $alumni := first 3 (shuffle $allAlumni)}}
      <div class="col s4">
        <div class="card-image">
          <img src="{{ $alumni.image }}" class="responsive-img">
              <span class="card-title">{{ if $alumni.display_name }}{{ $alumni.display_name }}{{ else }}{{ $alumni.title }}{{ end }}</span>
            </div>
            <div class="card-content">
              <p>{{ $alumni.quote }}</p>
            </div>
      </div>
    {{ end }}
  </div>

  <div class="row">
    <div class="col s12 center">
      <a class="btn" href="/alumni">Discover our alumni stories</a>
    </div>
  </div>
</div>

<hr class="whitespace">

<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>Partner</h2>
    </div>
  </div>

  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "partner" "title" "Powercoders is supported by")}}
  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "community_partner" "title" "Community Partners")}}
  {{ partial "partner" (dict "partners" $.Site.Data.partners "type" "company_member" "title" "Company Members")}}
</div>

{{ end }}
